<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  
  <!-- Logo -->
  <a class="navbar-brand fw-bold" routerLink="/">LyricsDepot</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navMenu">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tops" routerLinkActive="active">Top Canciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/artistas" routerLinkActive="active">Artistas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/noticias" routerLinkActive="active">Noticias</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/buscador" routerLinkActive="active">Buscador</a>
      </li>

      
    </ul>

    <div class="search-container position-relative">
  <input 
    type="text" 
    class="form-control rounded-pill" 
    placeholder="Buscar artista..."
    [(ngModel)]="searchTerm"
    (input)="onSearch()">

  @if (resultadosFiltrados.length > 0) {
    <ul class="list-group position-absolute w-100 shadow-lg mt-1 z-3">
      @for (artista of resultadosFiltrados; track artista) {
        <li 
          class="list-group-item list-group-item-action cursor-pointer"
          (click)="seleccionarArtista(artista)">
          <i class="bi bi-search me-2"></i> {{ artista }}
        </li>
      }
    </ul>
  }
</div>

    <div class="d-flex gap-2">
      <a routerLink="/login" class="btn btn-outline-light btn-sm">Login</a>
      <a routerLink="/registro" class="btn btn-warning btn-sm">Registro</a>
      <a routerLink="/subir-letra" class="btn btn-success btn-sm">Subir Letra</a>
    </div>
  </div>

</nav>