<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  
  <a class="navbar-brand fw-bold" routerLink="/">🎵 LyricsDepot</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navMenu">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tops" routerLinkActive="active">Top Canciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/artistas" routerLinkActive="active">Artistas</a>
      </li>
    </ul>

    <div class="position-relative mx-lg-4 my-2 my-lg-0" style="max-width: 400px; flex: 1;">
      <div class="input-group">
        <input 
          #txtBuscar
          type="text" 
          class="form-control form-control-sm" 
          placeholder="Buscar cancion..."
          (input)="buscar(txtBuscar.value)"
          (keyup.enter)="buscar(txtBuscar.value)">
        <button 
          class="btn btn-outline-warning btn-sm" 
          type="button" 
          (click)="buscar(txtBuscar.value)">
          date papi
        </button>
      </div>

      <!-- Dropdown de resultados -->
      <div *ngIf="mostrarResultados && resultados.length > 0" 
           class="position-absolute w-100 bg-white shadow rounded mt-1"
           style="z-index: 9999; top: 100%;">
        <ul class="list-group list-group-flush">
          @for (cancion of resultados; track cancion.id) {
            <li class="list-group-item list-group-item-action d-flex align-items-center gap-2" 
                style="cursor:pointer">
              <span>🎵</span>
              <div>
                <p class="mb-0 fw-semibold text-dark">{{ cancion.titulo }}</p>
                <small class="text-muted">{{ cancion.artista }}</small>
              </div>
            </li>
          }
        </ul>
      </div>
    </div>

    <div class="d-flex gap-2">
      <a routerLink="/login" class="btn btn-outline-light btn-sm">Login</a>
      <a routerLink="/registro" class="btn btn-warning btn-sm">Registro</a>
      <a routerLink="/letra" class="btn btn-success btn-sm">Subir Letra</a>
    </div>
  </div>

</nav>