.hero-section {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* parallax, opcional */
}

.hero-overlay {
  min-height: 100vh; /* que el overlay también cubra todo */
}